@page "/bilanzen"
@using CryptoTracker.Shared
@inject IBalanceApi BalanceApi

<PageTitle>Bilanzen</PageTitle>

<h1>Bilanzen</h1>

@if (IsLoading)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status"></div>
    </div>
}
else if (Balances != null)
{
    foreach (var balance in Balances)
    {
        <h5 class="mt-3">@balance.Platform</h5>
        <RadzenDataGrid TItem="AssetBalanceDTO" Data="balance.Assets" AllowSorting="true" AllowFiltering="true" AllowColumnResize="true" AllowPaging="false">
            <Columns>
                <RadzenDataGridColumn TItem="AssetBalanceDTO" Property="@nameof(AssetBalanceDTO.Symbol)" Title="Symbol" />
                <RadzenDataGridColumn TItem="AssetBalanceDTO" Property="@nameof(AssetBalanceDTO.Amount)" Title="Menge" />
                <RadzenDataGridColumn TItem="AssetBalanceDTO" Property="@nameof(AssetBalanceDTO.EuroValue)" Title="Wert in EUR" />
            </Columns>
        </RadzenDataGrid>
    }
}

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">@ErrorMessage</div>
}
