@page "/bilanzen"
@using CryptoTracker.Shared
@inject HttpClient HttpClient

<PageTitle>Bilanzen</PageTitle>

<h1>Bilanzen</h1>

@if (IsLoading)
{
    <div class="d-flex justify-content-center my-5">
        <div class="spinner-border" role="status"></div>
    </div>
}
else if (Balances != null)
{
    foreach (var balance in Balances)
    {
        <h5 class="mt-3">@balance.Platform</h5>
        <DataGrid TItem="AssetBalanceDTO" Data="balance.Assets" Sortable="true" Filterable="true" Resizable="true" ShowPager="false">
            <DataGridColumns>
                <DataGridColumn TItem="AssetBalanceDTO" Field="@nameof(AssetBalanceDTO.Symbol)" Caption="Symbol" />
                <DataGridColumn TItem="AssetBalanceDTO" Field="@nameof(AssetBalanceDTO.Amount)" Caption="Menge" />
                <DataGridColumn TItem="AssetBalanceDTO" Field="@nameof(AssetBalanceDTO.EuroValue)" Caption="Wert in EUR" />
            </DataGridColumns>
        </DataGrid>
    }
}

@if (ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">@ErrorMessage</div>
}
